.header{
    top: 0;
    position: sticky;
    background-color: rgba(0, 153, 255, 0.507);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0% !important;
    height: auto;
    align-items: center;
    height: 50px;
    vertical-align: middle;
}
body{
    margin: 0% !important;
    height: 100%;
    background-color: antiquewhite;
}